@model List<ArchivosModel>
@{
    ViewData["Title"] = "Archivos Recibidos";
}
<div class="text-center">
    <h1>Archivos Recibidos</h1>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center ">
    @if (Model.Count > 0)
    {
        @foreach (var archivo in Model)
        {
            <div class="col-4">
                <div class="card">
                    @if (archivo.Nombre.EndsWith(".pdf", System.StringComparison.OrdinalIgnoreCase))
                    {
                        <!-- Muestra el PDF -->
                        <iframe src="@archivo.Url" width="100%" height="250px" frameborder="0"></iframe>
                        <a href="@archivo.Url" download="@archivo.Nombre" class="btn btn-outline-secondary">Descargar @archivo.Nombre</a>

                    }
                    else if (archivo.Nombre.EndsWith(".jpg", System.StringComparison.OrdinalIgnoreCase) ||
                    archivo.Nombre.EndsWith(".jpeg", System.StringComparison.OrdinalIgnoreCase) ||
                    archivo.Nombre.EndsWith(".png", System.StringComparison.OrdinalIgnoreCase) ||
                    archivo.Nombre.EndsWith(".gif", System.StringComparison.OrdinalIgnoreCase))
                    {
                        <!-- Muestra la Imagen -->
                        <img src="@archivo.Url" alt="@archivo.Nombre" class="img-fluid" style="max-height: 250px; width: 100%; object-fit: cover;" />
                        <a href="@archivo.Url" download="@archivo.Nombre" class="btn btn-outline-secondary">Descargar @archivo.Nombre</a>
                    }
                    else
                    {
                        <!-- Muestra un enlace para otros tipos de archivos -->
                        <div class="card-body text-center">

                            <a href="@archivo.Url" download="@archivo.Nombre" class="btn btn-outline-secondary">Descargar @archivo.Nombre</a>
                        </div>
                    }
                    <div class="card-footer text-center">
                        <small class="text-muted">@archivo.Nombre</small>
                        <div style="justify-content:space-between; gap: 15px; display: flex;">
                            <form asp-action="EliminarArchivoRecibido">
                                <input type="hidden" value="@archivo.Nombre" name="nombreArchivo" />
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
</div>

